# Gradle
.gradle
build/
!build/cache/
!build/wrapper/dists/

# Java
*.class
*.log
*.jar

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Node
node_modules/
dist/
npm-debug.log*

# OS
.DS_Store
Thumbs.db